#CONFIG daemon hostname="node1" mode="debug"
<object class_id="1" class_name="LoadModule">
	<componentID>1</componentID>
	<name>test-serialize-modules</name>
	<path></path>
	<interface>child</interface>
	<Container></Container>
</object>
<object class_id="1" class_name="MyChildModuleOptions">
	<name>my child options1</name>
	<value>4712</value>
	<Container></Container>
</object>
<object class_id="1" class_name="LoadModule">
	<componentID>2</componentID>
	<name>test-serialize-modules</name>
	<path></path>
	<interface>parent</interface>
	<Container></Container>
</object>
<object class_id="1" class_name="MyParentModuleOptions">
	<pname>test input1</pname>
	<pvalue>4711</pvalue>
	<childInterface>
		<componentID>1</componentID>
	</childInterface>
	<Container></Container>
</object>