#CONFIG daemon hostname="node1" mode="debug"
<LoadModule>
	<componentID>1</componentID>
	<name>test-serialize-modules</name>
	<path></path>
	<interface>child</interface>
</LoadModule>
<MyChildModuleOptions>
	<name>my child options1</name>
	<value>4712</value>
</MyChildModuleOptions>
<LoadModule>
	<componentID>2</componentID>
	<name>test-serialize-modules</name>
	<path></path>
	<interface>parent</interface>
</LoadModule>
<MyParentModuleOptions>
	<pname>test input1</pname>
	<pvalue>4711</pvalue>
	<childInterface>
		<componentID>1</componentID>
	</childInterface>
</MyParentModuleOptions>